
body{
    display: flex;
    flex-direction: column;
    min-height:260vh;
    background-color: #dad7cd;
    position: relative;
}
/* menu */
header{
    font-size: small;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a5a40;
    padding: 20px 20px;  
}    
h1{
    font-size: 50px;
    font-family: "Bona Nova SC";
    text-align: center;
    margin: 40px;
}
h2{
    
    font-size: 50px;
    font-family: "Bona Nova SC";
    text-align: center;
    margin: 40px;
}
p{
    font-size: 20px;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#menu ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0px;
	padding:30px;
}


#menu ul a{
	display:block;
	color:#ffffff;
	text-decoration:none;
	font-weight:700;
	font-size:15px;
	line-height:32px;
	padding:10px 30px;
}

#menu ul li{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#menu ul li {
    background-color:#588157;
   }

#menu ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	padding:0px;
    
}

#menu ul ul li{
	float:none;
	width: 130px;
}

#menu ul ul a{
	line-height:120%;
	padding: 10px;
}

#menu ul ul ul{
	top: 0;
	left:100%;
}

#menu ul li:hover > ul{
	display:block;
}


/*Footer*/
.pie{/*para el footer*/
    background-color: #3a5a40;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 25%;
   }

.sabrina{/*El nombre del footer*/
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    }

.seccion{
    display: flex;
    justify-content: center;
    gap: 100px;/*para la separacion*/
}
.seccion div{/*Para que las secciones esten en columnas*/
display: flex;
flex-direction: column;
}
    
.seccion div h2 {/*para los h2 del footer*/
        color: #ffffff;
        font-size: 30px;
}

a{/*para los a*/
    color: #ffffff;
    text-decoration: none;/*para que no tenga decoraciones el texto*/
    padding: 10px 10px 10px 0px;
}

.derechos{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 30px;
    background: #23372d;
    position: absolute;
    bottom: 0;
    width: 98.3%;
    height: 10%;
}
/*Linea pie de pagina*/
hr{
    height: 15px;
    background-color: #dad7cd;
    border: 0px;
}
/*Footer*/
#footer div{
    align-items:baseline;
}
#footer h2{
    margin-left: 0px;
}
/*Contactos pie de pagina*/
#footer a{
    padding: 10px 10px 10px 0px;
    font-size: 15px;
}
.derechos{
    padding-right: 0px;
}
.derechos p{
    color: #ffffff;
}