
body{
    font-size: small;
    color: blueviolet;
    background-image: url("./Imagenes/paisaje-caviahue.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;/*para que cubra toda la pagina*/
    background-position: center center;/*para centrar la img*/
    background-attachment: fixed;/*para que cubra todo tamaño de pantalla*/
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b78a7;
    padding: 50px 50px;
    
}
/* menu */

.nombrespa{
    color: #000;
    width: 150px;
    height: 50px;
    font-family: 'Roboto mono', monospace;
    
}

.info{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 10px;
  right: 0;
  
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }
   
   /* items del menu */
   
   #menu ul li {
    background-color:#2e518b;
   }
   
   /* enlaces del menu */
   
   #menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:20px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
    background:#5b78a7;
   }
   /* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0px;
    background:#eee;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }