
body{
    font-size: small;
    color: rgb(255, 255, 255);
    background-image: url("./Imagenes/paisaje-caviahue.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;/*para que cubra toda la pagina*/
    background-position: center center;/*para centrar la img*/
    background-attachment: fixed;/*para que cubra todo tamaño de pantalla*/
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b78a7;
    padding: 20px 20px;
    
}
/* menu */


/*nombre spa*/
.Logo{
   display: flex;
   justify-content: end;
   font-size: 25px;
}

.Buscador{/*para el posicion*/
position: absolute;
left: 48%;
top: 8%;
transform: translate(-50%,-50%);
padding: 10px;
}

input{/*Para la transicon de el buscar*/
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0px;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #2e518b;
    transition: all .7s ease;
}

::placeholder{
    color: gray;
}

.bsc{/*para darle forma y seguir con la transicion*/
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #2e518b;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.bsc i{/*TRANSICON*/
    font-size: 25px;
    color: #fff;
    line-height: 80px;
    transition: all .7 ease;
}

.Buscador:hover input{/*TRANSICON cuando este arriba del buscador*/
    width: 350px;
}

.Buscador:hover i{/*TRANSICON*/
    transform: rotate(-360deg);
}

.bsc{/*TRANSICON*/
    background: #2e518b;
}

.info{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 10px;
  right: 0;
  
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }
   
   /* items del menu */
   
   #menu ul li {
    background-color:#2e518b;
   }
   
   /* enlaces del menu */
   
   #menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:20px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
    background:#5b78a7;
   }
   /* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0px;
    background:#eee;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }

