@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Danfo&family=Poppins");

body{
    font-size: small;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height:530vh;
    background-color: #dad7cd;
    position: relative;
}

header{/* menu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a5a40;
    padding: 20px 20px;  
    font-family: "Bona Nova SC";
}
    
/*nombre spa*/
#Logo{
   display: flex;
   justify-content: end;
   font-size: 25px;
}

.belleza{/*para las imagenes del cuerpo*/
    text-align: center;
    font-size: 80px;
    color: #000;
    font-family: "Bona Nova SC";
    padding: 150px 150px; 
}

.belleza img{/*para la transicion de la img*/
    animation: float 3s ease-in-out infinite;
    border-radius:10px ;
    position: relative;
}

@keyframes float{/*para la animacion de bajada*/
    0%,
    100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
}



.belleza h2{/*para el h2 de la imagen (titulos)*/
    font-size: 120px;
    color: #000;
    font-family: "Bona Nova SC";
}



.belleza h3{/*para el h3 de la imagen*/
    font-size: 80px;
    color: #000000;
    font-family: "Bona Nova SC";
}

.belleza p{
    font-size: 30px;
    color: #5a5956;
    
}


.info{
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 10px;
  right: 0;
  
}

   .pie{/*para el footer*/
    background-color: #3a5a40;
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 10%;
    font-family: "Bona Nova SC";
   }

   .sabrina{/*El nombre del footer*/
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    }

.seccion{
    display: flex;
    justify-content: center;
    gap: 100px;/*para la separacion*/
}

.seccion div{/*Para que las secciones esten en columnas*/
    display: flex;
    flex-direction: column;
}
    
div h2{/*para los h2 del footer*/
    color: #fff;
    font-size: 30px;
}

a{/*para los a*/
    color: #fff;
    text-decoration: none;/*para que no tenga decoraciones el texto*/
    padding: 10px 10px 10px 0px;
}

.derechos{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 30px;
    background: #23372d;
    position: absolute;
    bottom: 0;
    width: 98.3%;
    height: 10%;
}

/*Linea pie de pagina*/
hr{
    height: 15px;
    background-color: #dad7cd;
    border: 0px;
}

/*Contactos pie de pagina*/
#footer a{
    padding: 0px;
    font-size: 15px;
}

.derechos{
    padding-right: 0px;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 64px;
    background-color:  #3a5a40;
    position: relative;
    width: 50%;
}

.nav-link{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    transition: all 0.5s ease;
}

.nav-link ul li{
    list-style-type: none; /* Quita las viñetas o puntos */
    display: flex;
    flex-direction: column;
}

.nav-link li{
    margin-left: 24px;
}

.nav-link a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 17px;
    padding: 8px 24px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.nav-link a:hover{
    background-color: rgb(49, 63, 59);
}

.menu-icon{
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

.menu-icon .linea{
    width: 30px;
    height: 3px;
    background-color: #f5f5f5;
    margin: 5px 0;
    transition: all 0.3s ease;
}

#menu-toogle{
    display: none;
}

@media (max-width: 1250px){
    header {
        width: 95%;              
        position: absolute;          /* Fija el header en la parte superior */
        top: 0;                   /* Alineado a la parte superior de la pantalla */
        left: 0;                  /* Alineado a la izquierda */
        background-color: #3a5a40;   
        color: white;             
        z-index: 1000;            /* Asegura que esté por encima de otros elementos */
        padding: 10px 20px;       /* Espaciado interno */
        display: flex;            
        justify-content: space-between; /* Espaciado entre el logo y la navegación */
        align-items: center;      
    }

    .belleza h2{/*para el h2 de la imagen (titulos)*/
        display: flex;
        flex-direction: column;
        font-size: 80px;
        color: #000;
        font-family: "Bona Nova SC";
    }
    
    .belleza img{
        height: 320px;
        width: 420px;
        display: flex;
        flex-direction: column;
    }
    
    .belleza h3{/*para el h3 de la imagen*/
        font-size: 60px;
        color: #000000;
        font-family: "Bona Nova SC";
    }
    
    .belleza p{
        
        font-size: 20px;
        color: #5a5956;
        
    }
    
    .nav-link ul li{
        list-style-type: none; /* Quita las viñetas o puntos */
        display: flex;
        flex-direction: column;
    }

    .navbar{
        padding:16px;
    }

    .menu-icon{
        display: flex;
    }

    .nav-link{
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        height: 0;
        overflow: hidden;/*cualquier contenido que sobresalga de los límites del contenedor es ocultado*/
        flex-direction: column;
        background-color:  #3a5a40;
        text-align: center;
        transition: height 0.5s ease;
    }

    .nav-link li{
        margin: 0;
        padding: 20px 0;
        width: 100%;
        display: block;
    }

    .nav-link a{
        width: 100%;
        padding: 10px 20px;
    }

    #menu-toogle:checked + .menu-icon + .nav-link{/* El menú se expandirá a todo el alto de la pantalla */
        height: 100vh;
    }

    #menu-toogle:checked + .menu-icon .linea:nth-child(1) {/* Rota la primera línea */
        transform: rotate(45deg) translate(13px, 10px);
    }
    
    #menu-toogle:checked + .menu-icon .linea:nth-child(2) {/* Oculta la segunda línea */
        transform: scale(0);
    }
    
    #menu-toogle:checked + .menu-icon .linea:nth-child(3) {/* Rota la tercera línea */
        transform: rotate(-45deg) translate(8px, -6px);
    }
    
    .seccion{
        display: flex;
        justify-content: center;
        gap: 40px;/*para la separacion*/
    }
    
    .seccion h2{
        font-size: 15px;
    }

    .sabrina {
        font-size: 24px; 
        text-align: center; 
    }

    .pie {
        height: auto; /* Ajusta la altura del footer */
        font-size: 12px; 
    }

    .derechos {
        font-size: 16px; 
        flex-direction: column; 
        align-items: center; 
        padding: 10px 0; 
    }

    #footer a {
        font-size: 15px; /* Reduce el tamaño de los enlaces */
    }
}